[Unit]
Description=OpenStack DNS Updater
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/local/bin/openstack-dns-updater.py
PrivateTmp=true
KillMode=process

[Install]
WantedBy=multi-user.target
